PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/recipebox
JWT_ACCESS_SECRET=recipebox_super_secret_access_key_2026_!
JWT_REFRESH_SECRET=recipebox_super_secret_refresh_key_2026_!
FRONTEND_URL=http://localhost:5173
NODE_ENV=development

# Optional Cloudinary Setup (If not provided, the application will fallback to local folder upload)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
